.topHeader {
	background-color: $color-Secondary;
	padding: 1rem 0;
	font-size: 1.3rem;

	&_contact,
	&_social,
	&_lang {
		height: 100%;
		display: flex;
		align-items: center;
	}

	&_contact,
	&_social {
		ul {
			display: flex;
			align-items: center;
		}
	}

	&_contact {
		ul {
			color: $color-White;

			li {
				font-weight: 600;

				display: flex;
				align-items: center;
				gap: 1rem;

				&:not(:last-child) {
					margin-right: 4rem;
				}

				a {
					color: $color-White;
				}
			}
		}
	}

	&_social {
		justify-content: center;

		ul {
			justify-content: center;
			gap: 2rem;

			li {
				a {
					font-size: 1.4rem;
					color: $color-Primary;
				}
			}
		}
	}

	&_lang {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		select {
			background-color: transparent;
			border: none;
			color: $color-White;
			font-weight: 700;
			text-transform: uppercase;

			&:active,
			&:focus {
				outline: none;
				border: none;
				border-radius: 0;
			}

			&:focus {
				option {
					&:checked,
					&:hover {
						background-color: $color-Grey;
					}
				}
			}

			option {
				color: $color-Primary;
				font-weight: 700;

				&:hover {
					color: $color-Grey;
				}
			}
		}
	}
}
