//* Color
$color-Primary: #ff7f47;
$color-Secondary: #304f47;

//* Font color
$color-Dark: #262339;
$color-White: #fff;
$color-Black: #000;
$color-Grey: #a5a5a5;
$color-Grey-Light: #f3f2f7;
$color-Grey-Light-1: #ddd;
$color-Green: #304f47;